// Bridge Styles
.bridge {
  margin-left: -2vw;
  margin-right: -2vw;
  margin-bottom: 35px;
}

// Fog Styles
.fog {
  position: relative;
  bottom: -25vh;
  width: 100%;

  &__img {
    position: absolute;
    bottom: 0;
    height: 60vh;
    margin: 10px;
    width: 300vw;

    &__first {
      background: url("../../../../assets/fog.png");
      opacity: 0.6;
      background-size: contain;
      background-position: center;
      animation: fog 60s linear infinite;
    }

    &__second {
      background: url("../../../../assets/fog.png");
      opacity: 0.8;
      background-size: contain;
      background-position: center;
      animation: fog 40s linear infinite;
    }
  }
}

// Fog Animation
@keyframes fog {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}
