$background-color: #ccdeca;

.technical__container {
  width: 100vw;
  height: 100vh;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Oswald;
}

.technical-content {
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
