.home-container {
	background-color: #2e4864;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.moth-container {
	overflow: hidden;
	display: flex;
	.moth {
		height: 50vh;
	}
}

// STARS
.stars {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	// height: 100vh;
}

.particle,
.particle:after {
	background: transparent;
}

.particle:after {
	position: absolute;
	content: "";
	top: 2560px;
}

.particle-1 {
	-webkit-animation: animParticle 60s linear infinite;
	animation: animParticle 60s linear infinite;
	box-shadow: 0px 0px #fff, 705px 2173px #fff, 2355px 1741px #fff, 1626px 53px #fff, 793px 186px #fff,
		2389px 211px #fff, 2408px 1012px #fff, 1197px 814px #fff, 1108px 1211px #fff, 736px 1321px #fff,
		2377px 1625px #fff, 1362px 1254px #fff, 2281px 517px #fff, 280px 1377px #fff, 707px 765px #fff,
		1110px 874px #fff, 395px 1772px #fff, 598px 1275px #fff, 566px 2222px #fff, 1134px 2076px #fff,
		1256px 960px #fff, 2362px 1236px #fff, 343px 940px #fff, 764px 420px #fff, 94px 197px #fff, 1811px 79px #fff,
		613px 902px #fff, 461px 1907px #fff, 1480px 399px #fff, 2319px 146px #fff, 2551px 1000px #fff, 590px 1137px #fff,
		384px 734px #fff, 1843px 1622px #fff, 2215px 364px #fff, 1234px 598px #fff, 2079px 1263px #fff,
		739px 1859px #fff, 1879px 1507px #fff, 1056px 2510px #fff, 937px 2137px #fff, 1918px 855px #fff,
		1560px 1803px #fff, 587px 1502px #fff, 1042px 545px #fff, 745px 1237px #fff, 1100px 1615px #fff,
		731px 873px #fff, 1900px 936px #fff, 951px 2245px #fff, 1799px 58px #fff, 2017px 1259px #fff, 778px 721px #fff,
		2500px 1780px #fff, 1744px 2055px #fff, 2299px 260px #fff, 1744px 457px #fff, 1404px 2047px #fff,
		2324px 550px #fff, 1137px 2033px #fff, 681px 2275px #fff, 1341px 1465px #fff, 1476px 1276px #fff,
		1628px 1975px #fff, 2145px 107px #fff, 871px 327px #fff, 2434px 900px #fff, 609px 1800px #fff,
		1396px 2494px #fff, 941px 120px #fff, 108px 1834px #fff, 2137px 1896px #fff, 1901px 2340px #fff,
		2011px 1510px #fff, 2524px 1568px #fff, 2459px 534px #fff, 445px 2148px #fff, 1973px 59px #fff,
		1495px 2235px #fff, 606px 2330px #fff, 781px 147px #fff, 1144px 1338px #fff, 1216px 1103px #fff,
		607px 2512px #fff, 2332px 2240px #fff, 1034px 903px #fff, 2546px 374px #fff, 1730px 1017px #fff,
		558px 1200px #fff, 504px 1125px #fff, 936px 1519px #fff, 1107px 1888px #fff, 1455px 1177px #fff,
		289px 2101px #fff, 882px 2418px #fff, 686px 496px #fff, 810px 2431px #fff, 193px 2076px #fff, 837px 1124px #fff,
		709px 1808px #fff, 1456px 533px #fff, 1576px 1067px #fff, 1032px 1886px #fff, 660px 490px #fff,
		806px 1498px #fff, 720px 324px #fff, 1431px 51px #fff, 1601px 361px #fff, 1868px 678px #fff, 2499px 810px #fff,
		2187px 846px #fff, 937px 2475px #fff, 1088px 1349px #fff, 406px 994px #fff, 3px 1932px #fff, 1886px 1607px #fff,
		2545px 1419px #fff, 1011px 102px #fff, 1412px 2098px #fff, 665px 1713px #fff, 926px 2048px #fff,
		1361px 289px #fff, 267px 2005px #fff, 2140px 592px #fff, 1382px 1867px #fff, 1014px 2054px #fff,
		697px 556px #fff, 555px 1153px #fff, 838px 2466px #fff, 1756px 1721px #fff, 187px 738px #fff, 1562px 227px #fff,
		400px 2419px #fff, 664px 727px #fff, 1398px 1831px #fff, 2341px 2413px #fff, 1490px 709px #fff,
		1290px 2430px #fff, 1808px 2150px #fff, 1495px 2452px #fff, 2035px 371px #fff, 1085px 764px #fff,
		260px 1855px #fff, 1745px 1199px #fff, 1589px 2234px #fff, 1023px 1765px #fff, 1483px 669px #fff,
		2390px 489px #fff, 1632px 1873px #fff, 2091px 2312px #fff, 2215px 927px #fff, 1428px 1128px #fff,
		512px 2128px #fff, 1584px 1990px #fff, 606px 2114px #fff, 2250px 1080px #fff, 1384px 609px #fff,
		1053px 673px #fff, 616px 1589px #fff, 2407px 745px #fff, 975px 1619px #fff, 891px 476px #fff, 567px 1230px #fff,
		1285px 664px #fff, 62px 999px #fff, 264px 1526px #fff, 366px 541px #fff, 893px 1286px #fff, 1966px 828px #fff,
		913px 1296px #fff, 2071px 403px #fff, 2216px 1246px #fff, 456px 57px #fff, 615px 754px #fff, 497px 2521px #fff,
		1315px 841px #fff, 1023px 2184px #fff, 1549px 1122px #fff, 2162px 142px #fff, 229px 845px #fff,
		343px 1895px #fff, 172px 584px #fff, 2266px 1893px #fff, 2362px 644px #fff, 814px 2076px #fff, 946px 1848px #fff,
		1879px 1610px #fff, 958px 1468px #fff, 2426px 420px #fff, 2061px 970px #fff, 70px 1797px #fff, 1050px 237px #fff,
		270px 1172px #fff, 578px 1056px #fff, 273px 1220px #fff, 768px 2345px #fff, 1260px 712px #fff,
		2438px 2528px #fff, 471px 1476px #fff, 611px 2541px #fff, 701px 1430px #fff, 241px 348px #fff, 1214px 452px #fff,
		1332px 2084px #fff, 1732px 1528px #fff, 526px 100px #fff, 2515px 167px #fff, 1374px 2548px #fff,
		1479px 212px #fff, 1505px 2219px #fff, 2477px 1707px #fff, 711px 995px #fff, 2214px 1973px #fff,
		1120px 915px #fff, 1774px 809px #fff, 1955px 2253px #fff, 1493px 2030px #fff, 1358px 1139px #fff,
		136px 361px #fff, 1881px 1049px #fff, 2158px 200px #fff, 332px 2377px #fff, 1015px 1469px #fff, 52px 1070px #fff,
		598px 561px #fff, 1737px 2081px #fff, 2462px 506px #fff, 2559px 383px #fff, 1390px 841px #fff, 1398px 269px #fff,
		1359px 2081px #fff, 802px 1653px #fff, 1350px 1448px #fff, 544px 2214px #fff, 494px 1912px #fff,
		118px 534px #fff, 214px 2368px #fff, 537px 1316px #fff, 1303px 1951px #fff, 2248px 948px #fff, 879px 1205px #fff,
		872px 2183px #fff, 2465px 427px #fff, 2431px 720px #fff, 437px 699px #fff, 1181px 2130px #fff, 2534px 2px #fff,
		1750px 1286px #fff, 1561px 540px #fff, 644px 679px #fff, 698px 710px #fff, 2127px 1384px #fff, 850px 366px #fff,
		574px 400px #fff, 117px 337px #fff, 615px 1531px #fff, 437px 169px #fff, 2371px 757px #fff, 2411px 1916px #fff,
		1488px 830px #fff, 459px 766px #fff, 137px 671px #fff, 13px 2084px #fff, 1370px 1465px #fff, 203px 288px #fff,
		91px 1325px #fff, 954px 799px #fff, 1443px 2147px #fff, 1237px 1415px #fff, 124px 2537px #fff, 822px 466px #fff,
		1016px 628px #fff, 2446px 370px #fff, 1498px 2473px #fff, 745px 710px #fff, 2157px 486px #fff, 1484px 807px #fff,
		322px 2497px #fff, 2074px 1482px #fff, 2023px 2287px #fff, 1712px 123px #fff, 467px 912px #fff,
		327px 1484px #fff, 2303px 2190px #fff, 82px 1003px #fff, 1506px 2146px #fff, 2119px 1783px #fff,
		2555px 1338px #fff, 2396px 300px #fff, 2558px 1229px #fff, 1675px 1503px #fff, 630px 2037px #fff,
		641px 455px #fff, 495px 777px #fff, 477px 1076px #fff, 498px 168px #fff, 1126px 282px #fff, 774px 1752px #fff,
		986px 2493px #fff, 1119px 2455px #fff, 1378px 1547px #fff, 1152px 1731px #fff, 331px 2227px #fff,
		2437px 1517px #fff, 2557px 1648px #fff, 148px 2048px #fff, 2137px 797px #fff, 2291px 1189px #fff,
		1483px 1587px #fff, 541px 1987px #fff, 817px 633px #fff, 2046px 734px #fff, 1904px 1577px #fff,
		1070px 2442px #fff, 625px 1977px #fff, 1726px 2273px #fff, 1407px 362px #fff, 2186px 47px #fff, 1202px 48px #fff,
		1375px 1531px #fff, 2164px 1294px #fff, 1275px 38px #fff, 945px 1482px #fff, 2012px 90px #fff,
		2131px 1378px #fff, 2062px 1226px #fff, 2389px 1677px #fff, 1308px 109px #fff, 1469px 1885px #fff,
		985px 1356px #fff, 2115px 872px #fff, 1739px 194px #fff, 911px 985px #fff, 879px 1164px #fff, 390px 436px #fff,
		1967px 617px #fff, 79px 1108px #fff, 1060px 721px #fff, 1070px 752px #fff, 342px 1685px #fff, 74px 1231px #fff,
		2356px 1154px #fff, 1610px 695px #fff, 254px 401px #fff, 2483px 2514px #fff, 2395px 1749px #fff,
		1014px 593px #fff, 352px 510px #fff, 593px 1527px #fff, 1437px 1025px #fff, 896px 2054px #fff, 549px 1133px #fff,
		2036px 2220px #fff, 1874px 487px #fff, 858px 2191px #fff, 601px 2074px #fff, 2160px 1542px #fff,
		814px 1072px #fff, 301px 1646px #fff, 72px 1036px #fff, 2143px 2337px #fff, 675px 1219px #fff,
		2103px 2472px #fff, 2042px 1274px #fff, 795px 1744px #fff, 672px 697px #fff, 1844px 1681px #fff,
		28px 2014px #fff, 660px 1222px #fff, 2305px 171px #fff, 2076px 1284px #fff, 2321px 738px #fff, 894px 1544px #fff,
		2020px 1040px #fff, 2077px 688px #fff, 721px 2172px #fff, 1484px 2279px #fff, 1432px 1618px #fff,
		349px 2439px #fff, 2080px 567px #fff, 2119px 1791px #fff, 1834px 1453px #fff, 245px 1608px #fff,
		1210px 1487px #fff, 1521px 763px #fff, 2554px 460px #fff, 298px 222px #fff, 799px 1330px #fff, 679px 1313px #fff,
		1143px 1033px #fff, 647px 904px #fff, 1547px 1253px #fff, 482px 939px #fff, 2480px 2457px #fff,
		1767px 1839px #fff, 673px 522px #fff, 2039px 937px #fff, 531px 646px #fff, 367px 556px #fff, 2034px 1169px #fff,
		107px 1413px #fff, 77px 1299px #fff, 222px 340px #fff, 1492px 1369px #fff, 711px 828px #fff, 1911px 71px #fff,
		1582px 650px #fff, 1274px 481px #fff, 1681px 1037px #fff, 2073px 388px #fff, 2116px 2383px #fff,
		1016px 194px #fff, 325px 2453px #fff, 2314px 1800px #fff, 474px 784px #fff, 1457px 2156px #fff,
		824px 2425px #fff, 2217px 979px #fff, 2011px 1173px #fff, 2064px 738px #fff, 2024px 1680px #fff,
		1732px 1466px #fff, 1301px 2055px #fff, 330px 2436px #fff, 1137px 2108px #fff, 799px 1477px #fff,
		2518px 1677px #fff, 1595px 1377px #fff, 1314px 54px #fff, 569px 1595px #fff, 1717px 1089px #fff,
		2074px 1029px #fff, 817px 1029px #fff, 1853px 992px #fff, 1380px 699px #fff, 1395px 1537px #fff,
		1027px 1584px #fff, 2103px 1434px #fff, 2158px 2438px #fff, 2005px 1028px #fff, 1992px 2482px #fff,
		2297px 20px #fff, 802px 702px #fff, 392px 2437px #fff, 1312px 1556px #fff, 2509px 710px #fff, 82px 1070px #fff,
		2444px 650px #fff, 195px 2543px #fff, 981px 948px #fff, 1357px 1502px #fff, 928px 486px #fff, 688px 1092px #fff,
		753px 304px #fff, 1195px 760px #fff, 1500px 336px #fff, 286px 2067px #fff, 402px 943px #fff, 1447px 1668px #fff,
		218px 1545px #fff, 699px 2383px #fff, 1838px 667px #fff, 750px 72px #fff, 477px 1184px #fff, 1537px 1077px #fff,
		1277px 611px #fff, 1264px 1338px #fff, 2367px 2138px #fff, 1957px 2109px #fff, 1299px 1984px #fff,
		1253px 869px #fff, 1564px 349px #fff, 1211px 1867px #fff, 1677px 1936px #fff, 1759px 1482px #fff,
		1806px 124px #fff, 655px 1526px #fff, 97px 2407px #fff, 1497px 575px #fff, 1764px 1670px #fff,
		2027px 2216px #fff, 524px 1291px #fff, 1889px 1630px #fff, 2543px 1301px #fff, 2455px 1452px #fff,
		1150px 1626px #fff, 1601px 225px #fff, 960px 1680px #fff, 2389px 1992px #fff, 966px 190px #fff, 339px 364px #fff,
		723px 2160px #fff, 2535px 1766px #fff, 1738px 2309px #fff, 2311px 1922px #fff, 1024px 1490px #fff,
		1800px 1084px #fff, 2316px 2432px #fff, 1866px 578px #fff, 1207px 551px #fff, 2221px 232px #fff,
		534px 1910px #fff, 503px 441px #fff, 262px 2192px #fff, 448px 1139px #fff, 606px 158px #fff, 652px 713px #fff,
		879px 1730px #fff, 2307px 963px #fff, 2343px 261px #fff, 1758px 414px #fff, 2087px 571px #fff,
		1737px 2010px #fff, 1780px 2066px #fff, 1342px 1055px #fff, 850px 2249px #fff, 164px 1956px #fff,
		1805px 1214px #fff, 261px 214px #fff, 169px 1659px #fff, 1684px 2520px #fff, 286px 2328px #fff,
		1744px 1919px #fff, 180px 2398px #fff, 2417px 2148px #fff, 1624px 774px #fff, 508px 2426px #fff,
		1669px 1901px #fff, 784px 1332px #fff, 220px 564px #fff, 147px 1552px #fff, 1875px 69px #fff, 1517px 958px #fff,
		739px 827px #fff, 1707px 1295px #fff, 2505px 1566px #fff, 1599px 164px #fff, 2384px 2127px #fff,
		547px 414px #fff, 500px 1158px #fff, 1134px 2314px #fff, 1445px 1339px #fff, 2208px 2039px #fff,
		418px 1137px #fff, 348px 1205px #fff, 664px 1804px #fff, 49px 2175px #fff, 2134px 2403px #fff,
		1830px 2478px #fff, 2228px 2264px #fff, 178px 1475px #fff, 553px 2036px #fff, 270px 2095px #fff,
		794px 193px #fff, 131px 562px #fff, 1695px 2120px #fff, 2443px 1255px #fff, 517px 550px #fff, 805px 597px #fff,
		561px 1183px #fff, 218px 598px #fff, 2404px 690px #fff, 2440px 540px #fff, 79px 2237px #fff, 2024px 1388px #fff,
		584px 800px #fff, 1184px 1071px #fff, 1733px 813px #fff, 423px 1412px #fff, 1939px 1914px #fff,
		965px 1982px #fff, 2061px 759px #fff, 191px 1539px #fff, 1806px 107px #fff, 2135px 1011px #fff, 385px 525px #fff,
		2516px 618px #fff, 1580px 1730px #fff, 1406px 659px #fff, 2395px 2462px #fff, 1097px 1591px #fff,
		1750px 1207px #fff, 1040px 1544px #fff, 1430px 1757px #fff, 363px 1992px #fff, 2419px 2249px #fff,
		804px 1351px #fff, 373px 1094px #fff, 710px 171px #fff, 1609px 274px #fff, 2369px 819px #fff, 190px 919px #fff,
		2548px 1262px #fff, 1305px 1519px #fff, 1535px 2558px #fff, 528px 2374px #fff, 2164px 1079px #fff,
		1746px 806px #fff, 1370px 1140px #fff, 213px 18px #fff, 229px 979px #fff;
	height: 1px;
	width: 1px;
}

.particle-1:after {
	box-shadow: 0px 0px #fff, 2173px 16px #fff, 4px 1535px #fff, 1188px 736px #fff, 872px 1494px #fff,
		2247px 1723px #fff, 2348px 717px #fff, 2192px 532px #fff, 364px 2267px #fff, 1795px 1749px #fff, 15px 490px #fff,
		441px 445px #fff, 2172px 1891px #fff, 557px 55px #fff, 2313px 1282px #fff, 1370px 647px #fff, 749px 58px #fff,
		1035px 1539px #fff, 897px 1570px #fff, 864px 2042px #fff, 1920px 667px #fff, 1676px 1554px #fff,
		2458px 273px #fff, 1442px 2329px #fff, 2407px 1300px #fff, 975px 688px #fff, 1238px 633px #fff,
		583px 2262px #fff, 1482px 1451px #fff, 851px 92px #fff, 1737px 1863px #fff, 1279px 2115px #fff,
		1268px 1404px #fff, 2132px 988px #fff, 1371px 2373px #fff, 1873px 1629px #fff, 1501px 921px #fff,
		1399px 572px #fff, 1545px 905px #fff, 2356px 2310px #fff, 1820px 2537px #fff, 2170px 1621px #fff,
		953px 1060px #fff, 939px 458px #fff, 2183px 405px #fff, 15px 2110px #fff, 2200px 2124px #fff, 217px 1842px #fff,
		1028px 1223px #fff, 2122px 294px #fff, 1854px 2015px #fff, 823px 85px #fff, 905px 2531px #fff,
		1466px 1982px #fff, 954px 604px #fff, 395px 1746px #fff, 269px 1067px #fff, 2299px 1376px #fff,
		1144px 1881px #fff, 1860px 1925px #fff, 2403px 2414px #fff, 1936px 1822px #fff, 169px 347px #fff,
		1947px 2337px #fff, 2296px 820px #fff, 783px 2169px #fff, 812px 792px #fff, 601px 1392px #fff, 405px 1792px #fff,
		1851px 880px #fff, 1544px 688px #fff, 807px 275px #fff, 333px 1354px #fff, 782px 1317px #fff, 1605px 1911px #fff,
		617px 2548px #fff, 557px 182px #fff, 1675px 920px #fff, 2481px 2411px #fff, 154px 953px #fff, 2114px 1787px #fff,
		522px 716px #fff, 88px 392px #fff, 1765px 727px #fff, 603px 261px #fff, 1609px 330px #fff, 565px 217px #fff,
		1316px 2004px #fff, 90px 2455px #fff, 2212px 2189px #fff, 84px 1600px #fff, 1759px 1348px #fff, 160px 139px #fff,
		655px 1450px #fff, 2024px 858px #fff, 2407px 2407px #fff, 686px 549px #fff, 1067px 743px #fff, 1586px 298px #fff,
		1311px 914px #fff, 1681px 1973px #fff, 2033px 2145px #fff, 353px 1705px #fff, 190px 567px #fff,
		2258px 2463px #fff, 270px 995px #fff, 1107px 1423px #fff, 65px 2013px #fff, 676px 573px #fff, 801px 1292px #fff,
		754px 276px #fff, 547px 25px #fff, 471px 443px #fff, 1014px 437px #fff, 1951px 352px #fff, 1182px 881px #fff,
		1490px 1471px #fff, 736px 2477px #fff, 341px 363px #fff, 441px 380px #fff, 2165px 1467px #fff, 971px 1757px #fff,
		1630px 2364px #fff, 2348px 346px #fff, 1244px 2447px #fff, 2133px 1263px #fff, 11px 217px #fff,
		680px 1135px #fff, 1831px 961px #fff, 1865px 1490px #fff, 1978px 2163px #fff, 193px 788px #fff,
		1780px 2182px #fff, 373px 295px #fff, 508px 1692px #fff, 602px 229px #fff, 1508px 201px #fff, 358px 2371px #fff,
		1356px 895px #fff, 442px 1900px #fff, 2283px 758px #fff, 33px 1281px #fff, 1130px 1920px #fff, 743px 1004px #fff,
		676px 1752px #fff, 298px 623px #fff, 1601px 1285px #fff, 220px 1865px #fff, 2393px 1278px #fff,
		178px 1277px #fff, 2433px 11px #fff, 283px 75px #fff, 1171px 645px #fff, 2371px 1387px #fff, 1006px 477px #fff,
		947px 1122px #fff, 1559px 995px #fff, 1842px 1376px #fff, 2131px 1231px #fff, 858px 2490px #fff,
		132px 198px #fff, 851px 1685px #fff, 1521px 376px #fff, 1053px 38px #fff, 1118px 751px #fff, 279px 1892px #fff,
		2359px 768px #fff, 1427px 1648px #fff, 1499px 994px #fff, 1212px 1850px #fff, 1803px 1165px #fff,
		221px 1231px #fff, 1243px 269px #fff, 969px 1835px #fff, 860px 1962px #fff, 2045px 2295px #fff, 18px 942px #fff,
		916px 69px #fff, 942px 1579px #fff, 2000px 331px #fff, 778px 733px #fff, 645px 330px #fff, 1305px 1682px #fff,
		238px 2522px #fff, 600px 1308px #fff, 1266px 1219px #fff, 2053px 558px #fff, 317px 1544px #fff,
		1184px 360px #fff, 121px 2005px #fff, 918px 2171px #fff, 1892px 1256px #fff, 467px 499px #fff, 339px 889px #fff,
		643px 2198px #fff, 1910px 808px #fff, 1861px 2519px #fff, 1924px 1734px #fff, 1276px 2284px #fff,
		573px 2310px #fff, 1105px 314px #fff, 2367px 1217px #fff, 2475px 692px #fff, 510px 1469px #fff,
		695px 1950px #fff, 877px 2198px #fff, 785px 209px #fff, 296px 2532px #fff, 1356px 1377px #fff, 951px 1040px #fff,
		1902px 782px #fff, 1152px 2449px #fff, 1108px 1109px #fff, 649px 1424px #fff, 1212px 1901px #fff,
		446px 576px #fff, 674px 1864px #fff, 868px 1469px #fff, 1296px 800px #fff, 642px 1888px #fff, 1215px 1945px #fff,
		1075px 2309px #fff, 137px 796px #fff, 1476px 2280px #fff, 1405px 429px #fff, 2522px 2256px #fff,
		739px 2339px #fff, 551px 784px #fff, 251px 1041px #fff, 1346px 56px #fff, 2438px 2326px #fff, 333px 2446px #fff,
		561px 2016px #fff, 665px 1867px #fff, 2120px 1495px #fff, 464px 1296px #fff, 2036px 575px #fff,
		2501px 639px #fff, 245px 1940px #fff, 2152px 1581px #fff, 2555px 1638px #fff, 1315px 1677px #fff,
		370px 1613px #fff, 1111px 2205px #fff, 1464px 2310px #fff, 365px 197px #fff, 195px 1763px #fff,
		2488px 1984px #fff, 2365px 2118px #fff, 2188px 2215px #fff, 1853px 1025px #fff, 2240px 243px #fff,
		1921px 1302px #fff, 835px 1194px #fff, 819px 389px #fff, 819px 2277px #fff, 687px 1972px #fff, 1217px 250px #fff,
		162px 990px #fff, 736px 1376px #fff, 421px 2474px #fff, 2342px 728px #fff, 1521px 2118px #fff, 1057px 929px #fff,
		412px 2453px #fff, 1334px 2425px #fff, 2055px 216px #fff, 2388px 1970px #fff, 2558px 1703px #fff,
		2299px 628px #fff, 1443px 643px #fff, 1924px 2469px #fff, 2486px 288px #fff, 2484px 1530px #fff,
		2425px 99px #fff, 473px 1768px #fff, 1183px 1731px #fff, 1277px 2019px #fff, 798px 398px #fff,
		1553px 1601px #fff, 2466px 1188px #fff, 2417px 51px #fff, 1200px 287px #fff, 1402px 807px #fff,
		922px 1791px #fff, 312px 2008px #fff, 783px 122px #fff, 1172px 2268px #fff, 820px 1794px #fff, 1076px 264px #fff,
		8px 2181px #fff, 484px 231px #fff, 1572px 855px #fff, 2140px 2160px #fff, 56px 1552px #fff, 2384px 2070px #fff,
		247px 2360px #fff, 1573px 36px #fff, 2516px 1435px #fff, 158px 2456px #fff, 1833px 1086px #fff,
		1953px 2485px #fff, 121px 2277px #fff, 729px 1817px #fff, 306px 2216px #fff, 226px 1886px #fff,
		1349px 2216px #fff, 2198px 1579px #fff, 2151px 1057px #fff, 1049px 1085px #fff, 309px 2018px #fff,
		1703px 507px #fff, 2076px 1136px #fff, 351px 94px #fff, 1344px 1289px #fff, 1742px 725px #fff, 1854px 42px #fff,
		921px 331px #fff, 688px 928px #fff, 1397px 80px #fff, 475px 2488px #fff, 2139px 1730px #fff, 355px 1509px #fff,
		2331px 1419px #fff, 2088px 692px #fff, 1197px 471px #fff, 2416px 1036px #fff, 192px 876px #fff,
		1507px 1508px #fff, 442px 2146px #fff, 2307px 2473px #fff, 1822px 1434px #fff, 1958px 22px #fff,
		826px 1297px #fff, 2491px 2158px #fff, 2213px 996px #fff, 2338px 2195px #fff, 1374px 2074px #fff,
		1424px 518px #fff, 387px 1942px #fff, 1252px 1174px #fff, 632px 1700px #fff, 1251px 2156px #fff,
		1240px 372px #fff, 30px 1039px #fff, 2382px 1523px #fff, 1848px 1204px #fff, 2016px 428px #fff,
		1526px 1311px #fff, 862px 1830px #fff, 2333px 1868px #fff, 19px 2517px #fff, 1446px 1238px #fff,
		1070px 510px #fff, 1421px 1812px #fff, 1230px 1539px #fff, 132px 1531px #fff, 892px 524px #fff,
		1624px 1784px #fff, 831px 55px #fff, 1831px 1598px #fff, 988px 873px #fff, 463px 639px #fff, 1822px 822px #fff,
		1947px 1101px #fff, 2382px 621px #fff, 1203px 1308px #fff, 2010px 1728px #fff, 962px 119px #fff,
		599px 865px #fff, 765px 989px #fff, 323px 12px #fff, 754px 1967px #fff, 1783px 1075px #fff, 302px 422px #fff,
		621px 85px #fff, 802px 1632px #fff, 1442px 1274px #fff, 886px 682px #fff, 709px 255px #fff, 1453px 1310px #fff,
		962px 284px #fff, 1421px 1210px #fff, 1911px 924px #fff, 1427px 920px #fff, 2321px 207px #fff,
		1772px 1669px #fff, 2515px 1903px #fff, 1428px 1568px #fff, 2178px 604px #fff, 1993px 599px #fff,
		1439px 434px #fff, 1150px 2532px #fff, 1815px 1671px #fff, 1773px 2110px #fff, 41px 1508px #fff,
		1196px 2234px #fff, 184px 1372px #fff, 2170px 1498px #fff, 1474px 807px #fff, 355px 1836px #fff,
		1062px 854px #fff, 1563px 2102px #fff, 881px 1727px #fff, 536px 991px #fff, 2368px 2395px #fff,
		929px 1607px #fff, 987px 557px #fff, 1502px 807px #fff, 604px 2176px #fff, 1742px 59px #fff, 767px 2062px #fff,
		1730px 2097px #fff, 357px 683px #fff, 1855px 1029px #fff, 1193px 2546px #fff, 852px 1863px #fff,
		880px 578px #fff, 569px 1754px #fff, 1579px 670px #fff, 481px 729px #fff, 224px 1596px #fff, 2485px 2206px #fff,
		765px 1011px #fff, 651px 998px #fff, 2381px 489px #fff, 1720px 470px #fff, 2115px 1048px #fff, 2207px 696px #fff,
		1082px 1351px #fff, 2136px 453px #fff, 1979px 879px #fff, 2309px 1542px #fff, 1097px 665px #fff,
		608px 751px #fff, 2086px 2384px #fff, 847px 523px #fff, 1030px 87px #fff, 46px 228px #fff, 1581px 2398px #fff,
		2292px 1415px #fff, 2550px 223px #fff, 1803px 433px #fff, 2304px 679px #fff, 1959px 709px #fff,
		1655px 1951px #fff, 2095px 2304px #fff, 1976px 2548px #fff, 802px 670px #fff, 1708px 297px #fff,
		1978px 2496px #fff, 2171px 267px #fff, 307px 199px #fff, 743px 791px #fff, 2536px 2545px #fff,
		1823px 2310px #fff, 498px 603px #fff, 537px 2202px #fff, 1297px 420px #fff, 537px 210px #fff, 1839px 1983px #fff,
		597px 852px #fff, 1127px 550px #fff, 2326px 632px #fff, 1237px 1020px #fff, 2111px 1149px #fff, 683px 260px #fff,
		1529px 2099px #fff, 1289px 1205px #fff, 323px 796px #fff, 174px 775px #fff, 2540px 702px #fff,
		2346px 1037px #fff, 257px 2205px #fff, 1290px 1926px #fff, 2384px 2329px #fff, 1573px 1321px #fff,
		991px 671px #fff, 2057px 2476px #fff, 2411px 1556px #fff, 131px 874px #fff, 2328px 1330px #fff, 741px 611px #fff,
		2390px 2498px #fff, 1111px 2528px #fff, 512px 511px #fff, 2297px 125px #fff, 586px 1997px #fff, 1899px 13px #fff,
		691px 2128px #fff, 1627px 496px #fff, 1695px 2186px #fff, 1796px 545px #fff, 2098px 253px #fff,
		1882px 1559px #fff, 1432px 1549px #fff, 322px 2294px #fff, 347px 1946px #fff, 2381px 794px #fff,
		2001px 1077px #fff, 223px 2406px #fff, 942px 1857px #fff, 291px 1675px #fff, 1240px 839px #fff,
		1982px 733px #fff, 427px 893px #fff, 1376px 907px #fff, 169px 34px #fff, 1298px 1061px #fff, 2127px 542px #fff,
		1738px 719px #fff, 1792px 1454px #fff, 2178px 1414px #fff, 992px 1401px #fff, 794px 2287px #fff,
		2529px 2338px #fff, 397px 102px #fff, 1811px 1166px #fff, 1056px 2218px #fff, 588px 2137px #fff,
		1559px 871px #fff, 154px 1533px #fff, 1044px 158px #fff, 1339px 2136px #fff, 417px 288px #fff, 1201px 137px #fff,
		2137px 1876px #fff, 488px 2510px #fff, 471px 159px #fff, 2458px 729px #fff, 743px 367px #fff, 540px 495px #fff,
		1670px 2161px #fff, 1648px 1826px #fff, 829px 1727px #fff, 1498px 1184px #fff, 2335px 2px #fff,
		148px 1321px #fff, 302px 166px #fff, 896px 1565px #fff, 395px 1823px #fff, 2428px 2512px #fff,
		1438px 2092px #fff, 2006px 1936px #fff, 266px 488px #fff, 2165px 1727px #fff, 173px 578px #fff,
		1862px 2201px #fff, 980px 717px #fff, 2328px 358px #fff, 950px 1204px #fff, 257px 1429px #fff,
		1018px 2088px #fff, 882px 1792px #fff, 583px 1961px #fff, 448px 2348px #fff, 1469px 1341px #fff,
		2142px 1456px #fff, 233px 683px #fff, 2423px 1406px #fff, 1851px 1909px #fff, 1337px 329px #fff,
		2418px 663px #fff, 749px 2499px #fff, 2293px 1426px #fff, 977px 2291px #fff, 2163px 1310px #fff,
		2142px 1987px #fff, 419px 353px #fff, 1252px 1062px #fff, 111px 2456px #fff, 2025px 1988px #fff,
		1760px 111px #fff, 1451px 401px #fff, 1928px 1311px #fff, 1203px 2521px #fff, 1221px 636px #fff,
		1331px 2054px #fff, 2440px 928px #fff, 1395px 100px #fff, 874px 723px #fff, 2251px 1200px #fff, 442px 554px #fff,
		686px 1509px #fff, 1309px 77px #fff, 465px 1548px #fff, 153px 851px #fff, 1314px 1619px #fff, 1617px 189px #fff,
		135px 2455px #fff, 155px 243px #fff, 1764px 546px #fff, 782px 1055px #fff, 1887px 1312px #fff, 232px 1469px #fff,
		757px 1664px #fff, 2012px 1173px #fff, 24px 37px #fff, 455px 414px #fff, 1989px 453px #fff, 1642px 979px #fff;
	height: 1px;
	width: 1px;
}

.particle-2 {
	-webkit-animation: animParticle 120s linear infinite;
	animation: animParticle 120s linear infinite;
	box-shadow: 0px 0px #fff, 820px 2123px #fff, 1256px 2345px #fff, 1997px 1395px #fff, 435px 150px #fff,
		671px 813px #fff, 2073px 204px #fff, 314px 1582px #fff, 2158px 643px #fff, 2371px 2074px #fff, 2314px 727px #fff,
		2343px 1368px #fff, 2290px 1025px #fff, 1988px 2423px #fff, 1439px 686px #fff, 2373px 2228px #fff,
		613px 54px #fff, 2374px 1504px #fff, 1430px 2069px #fff, 1688px 1965px #fff, 897px 887px #fff,
		1810px 1864px #fff, 361px 2479px #fff, 1116px 1084px #fff, 812px 926px #fff, 1356px 82px #fff,
		1229px 2448px #fff, 2430px 1929px #fff, 2289px 1883px #fff, 1904px 239px #fff, 652px 2527px #fff,
		557px 2351px #fff, 1610px 1978px #fff, 1116px 1807px #fff, 1928px 2273px #fff, 542px 507px #fff,
		1119px 2084px #fff, 1641px 2327px #fff, 2155px 851px #fff, 43px 1634px #fff, 757px 132px #fff, 2282px 89px #fff,
		2152px 1305px #fff, 1924px 2232px #fff, 304px 2399px #fff, 608px 1703px #fff, 1718px 2437px #fff,
		1302px 1315px #fff, 12px 2554px #fff, 1383px 2204px #fff, 1921px 2212px #fff, 277px 591px #fff,
		310px 1279px #fff, 1187px 995px #fff, 246px 1973px #fff, 1620px 1177px #fff, 1724px 77px #fff,
		1723px 1856px #fff, 1208px 644px #fff, 725px 1866px #fff, 454px 1683px #fff, 1510px 1392px #fff,
		513px 688px #fff, 1335px 1487px #fff, 1202px 164px #fff, 1956px 945px #fff, 1027px 948px #fff,
		2133px 2179px #fff, 1370px 1187px #fff, 1405px 946px #fff, 867px 1182px #fff, 1617px 2447px #fff,
		2167px 966px #fff, 2289px 1189px #fff, 739px 779px #fff, 1171px 1544px #fff, 691px 101px #fff,
		1687px 1794px #fff, 272px 556px #fff, 1220px 2322px #fff, 2305px 2378px #fff, 58px 2487px #fff,
		2082px 679px #fff, 1675px 440px #fff, 1496px 2307px #fff, 355px 1076px #fff, 667px 683px #fff,
		1132px 2263px #fff, 374px 139px #fff, 1688px 456px #fff, 774px 322px #fff, 1005px 423px #fff, 2357px 2203px #fff,
		158px 1013px #fff, 1897px 1196px #fff, 2545px 293px #fff, 2134px 2084px #fff, 683px 634px #fff, 579px 887px #fff,
		1915px 436px #fff, 1400px 1483px #fff, 511px 2321px #fff, 1831px 429px #fff, 1197px 979px #fff, 1px 339px #fff,
		48px 1349px #fff, 719px 1636px #fff, 792px 690px #fff, 436px 1301px #fff, 2249px 1950px #fff, 867px 2221px #fff,
		499px 1231px #fff, 2044px 458px #fff, 1372px 1361px #fff, 1080px 33px #fff, 4px 330px #fff, 899px 509px #fff,
		731px 167px #fff, 761px 2038px #fff, 691px 1543px #fff, 2490px 2219px #fff, 1681px 1154px #fff,
		1070px 759px #fff, 799px 910px #fff, 460px 228px #fff, 1025px 537px #fff, 2518px 534px #fff, 13px 525px #fff,
		887px 742px #fff, 1977px 853px #fff, 1364px 2020px #fff, 492px 42px #fff, 478px 1934px #fff, 2493px 820px #fff,
		1483px 2060px #fff, 494px 1047px #fff, 2180px 2077px #fff, 2514px 1757px #fff, 261px 2273px #fff,
		1891px 2324px #fff, 469px 9px #fff, 1527px 1367px #fff, 1205px 556px #fff, 2095px 1737px #fff, 110px 1018px #fff,
		1479px 376px #fff, 568px 376px #fff, 1807px 1294px #fff, 723px 1989px #fff, 1215px 74px #fff, 1950px 2347px #fff,
		1155px 1601px #fff, 651px 1450px #fff, 1749px 2560px #fff, 555px 1401px #fff, 1599px 1494px #fff,
		869px 369px #fff, 2305px 120px #fff, 1561px 238px #fff, 1265px 240px #fff, 1856px 1039px #fff, 336px 79px #fff,
		1647px 2376px #fff, 2357px 316px #fff, 1386px 1976px #fff, 1448px 195px #fff, 872px 2254px #fff,
		704px 627px #fff, 1103px 1017px #fff, 2265px 1980px #fff, 587px 2155px #fff, 2291px 2122px #fff,
		1699px 1481px #fff, 809px 1665px #fff, 1068px 428px #fff, 1143px 1644px #fff, 355px 1906px #fff,
		2462px 1937px #fff, 1432px 1735px #fff, 497px 1091px #fff, 138px 1493px #fff, 2547px 1366px #fff,
		2517px 607px #fff, 1558px 1503px #fff, 2453px 1278px #fff, 2003px 2164px #fff, 1469px 1961px #fff,
		99px 1062px #fff, 1372px 2483px #fff, 773px 111px #fff, 2346px 701px #fff, 3px 725px #fff, 1272px 2131px #fff,
		2464px 834px #fff, 394px 618px #fff, 1502px 988px #fff, 50px 2355px #fff, 2194px 873px #fff, 2366px 1589px #fff,
		1696px 609px #fff, 1598px 1636px #fff;
	height: 2px;
	width: 2px;
}

.particle-2:after {
	box-shadow: 0px 0px #fff, 294px 1913px #fff, 659px 1556px #fff, 360px 1872px #fff, 1546px 521px #fff,
		915px 19px #fff, 2048px 425px #fff, 590px 117px #fff, 1254px 76px #fff, 1125px 1146px #fff, 14px 965px #fff,
		410px 1567px #fff, 1101px 1899px #fff, 282px 319px #fff, 202px 212px #fff, 1880px 1547px #fff,
		2006px 2148px #fff, 563px 1611px #fff, 917px 989px #fff, 319px 1777px #fff, 577px 929px #fff, 452px 576px #fff,
		2246px 632px #fff, 1910px 160px #fff, 687px 191px #fff, 438px 78px #fff, 1562px 1462px #fff, 1876px 1807px #fff,
		727px 2452px #fff, 380px 2181px #fff, 451px 1245px #fff, 1397px 2115px #fff, 1937px 2509px #fff,
		1610px 1057px #fff, 1901px 185px #fff, 1487px 702px #fff, 1254px 1917px #fff, 2537px 2450px #fff,
		1884px 1611px #fff, 1228px 473px #fff, 1978px 621px #fff, 874px 283px #fff, 868px 1717px #fff, 45px 1700px #fff,
		778px 1418px #fff, 1697px 1546px #fff, 1604px 2009px #fff, 306px 587px #fff, 1191px 259px #fff,
		556px 2462px #fff, 1054px 2340px #fff, 419px 2481px #fff, 1665px 1539px #fff, 2003px 980px #fff,
		638px 566px #fff, 1437px 1824px #fff, 850px 351px #fff, 1137px 1098px #fff, 702px 2532px #fff, 1172px 744px #fff,
		884px 6px #fff, 2050px 1721px #fff, 2268px 343px #fff, 2363px 1478px #fff, 892px 2480px #fff, 1079px 1867px #fff,
		36px 302px #fff, 1707px 36px #fff, 1105px 1287px #fff, 536px 2293px #fff, 195px 1968px #fff, 2061px 1679px #fff,
		1252px 501px #fff, 485px 1071px #fff, 1465px 1808px #fff, 1296px 1164px #fff, 2313px 265px #fff,
		1235px 2073px #fff, 1035px 533px #fff, 1124px 1522px #fff, 561px 2221px #fff, 1454px 322px #fff,
		1992px 249px #fff, 332px 1232px #fff, 1033px 1377px #fff, 2559px 678px #fff, 2245px 1062px #fff,
		2099px 2015px #fff, 1432px 2555px #fff, 2106px 155px #fff, 1547px 1105px #fff, 1924px 1389px #fff,
		1611px 2421px #fff, 373px 1480px #fff, 2437px 1600px #fff, 2254px 1280px #fff, 1642px 698px #fff,
		949px 1659px #fff, 1983px 2381px #fff, 1855px 1318px #fff, 583px 2093px #fff, 1258px 2018px #fff,
		22px 616px #fff, 454px 272px #fff, 2453px 915px #fff, 484px 43px #fff, 2056px 2156px #fff, 929px 2263px #fff,
		295px 936px #fff, 592px 587px #fff, 77px 1693px #fff, 2016px 678px #fff, 1303px 1498px #fff, 1524px 2355px #fff,
		974px 489px #fff, 2484px 1354px #fff, 421px 1783px #fff, 350px 1204px #fff, 2375px 1828px #fff,
		2551px 1278px #fff, 2126px 109px #fff, 2510px 1837px #fff, 55px 82px #fff, 2079px 519px #fff, 1984px 938px #fff,
		263px 2518px #fff, 287px 1341px #fff, 828px 2094px #fff, 2123px 1138px #fff, 275px 2460px #fff,
		1261px 2539px #fff, 2059px 851px #fff, 1044px 1102px #fff, 846px 2351px #fff, 1435px 271px #fff,
		2324px 2094px #fff, 1727px 1395px #fff, 1087px 2138px #fff, 298px 409px #fff, 2110px 1306px #fff,
		1676px 1375px #fff, 1399px 967px #fff, 826px 424px #fff, 2206px 54px #fff, 1189px 261px #fff, 1968px 1670px #fff,
		1997px 495px #fff, 280px 2513px #fff, 477px 1115px #fff, 560px 1581px #fff, 907px 1731px #fff,
		2283px 1235px #fff, 266px 2072px #fff, 2460px 727px #fff, 1264px 2171px #fff, 1454px 795px #fff,
		2292px 2103px #fff, 852px 1938px #fff, 1233px 302px #fff, 1587px 1801px #fff, 164px 997px #fff,
		2307px 598px #fff, 1765px 1396px #fff, 2196px 2237px #fff, 1904px 1312px #fff, 1557px 720px #fff,
		759px 641px #fff, 1342px 1141px #fff, 167px 1603px #fff, 2274px 2257px #fff, 567px 417px #fff,
		1000px 1253px #fff, 1393px 2353px #fff, 1502px 675px #fff, 2266px 1403px #fff, 1338px 1785px #fff,
		2430px 888px #fff, 1150px 1786px #fff, 164px 1653px #fff, 1393px 1919px #fff, 1116px 246px #fff,
		2494px 2558px #fff, 2401px 931px #fff, 1766px 1046px #fff, 1446px 1px #fff, 1371px 1920px #fff,
		368px 1649px #fff, 353px 540px #fff, 2288px 601px #fff, 2483px 1034px #fff, 10px 1473px #fff, 1542px 2235px #fff,
		145px 1281px #fff, 2002px 625px #fff, 229px 776px #fff, 629px 2183px #fff, 2221px 9px #fff, 1790px 1556px #fff,
		1008px 1946px #fff, 1142px 2092px #fff, 542px 2418px #fff;
	height: 2px;
	width: 2px;
}

.particle-3 {
	-webkit-animation: animParticle 180s linear infinite;
	animation: animParticle 180s linear infinite;
	box-shadow: 0px 0px #fff, 1020px 2226px #fff, 1079px 2213px #fff, 162px 1761px #fff, 2526px 354px #fff,
		1473px 396px #fff, 355px 2198px #fff, 1364px 2453px #fff, 706px 1208px #fff, 225px 1569px #fff,
		183px 1904px #fff, 766px 255px #fff, 957px 1170px #fff, 1740px 881px #fff, 1419px 2147px #fff,
		1155px 2339px #fff, 2236px 1188px #fff, 56px 313px #fff, 589px 930px #fff, 1338px 2072px #fff, 677px 32px #fff,
		749px 2004px #fff, 105px 139px #fff, 1396px 1579px #fff, 607px 2327px #fff, 1284px 906px #fff,
		1721px 1557px #fff, 407px 961px #fff, 981px 1618px #fff, 984px 1926px #fff, 990px 1142px #fff, 116px 1762px #fff,
		677px 2083px #fff, 1902px 1134px #fff, 2336px 24px #fff, 1407px 656px #fff, 1034px 1705px #fff,
		2314px 447px #fff, 1501px 1262px #fff, 62px 2280px #fff, 394px 1058px #fff, 1966px 1764px #fff,
		1217px 1541px #fff, 358px 1857px #fff, 1472px 2306px #fff, 22px 2077px #fff, 2379px 2497px #fff,
		762px 717px #fff, 1934px 487px #fff, 1515px 2211px #fff, 499px 1694px #fff, 1506px 336px #fff, 2067px 739px #fff,
		1112px 1297px #fff, 1303px 1260px #fff, 1038px 208px #fff, 1073px 1165px #fff, 854px 1352px #fff,
		45px 477px #fff, 701px 1743px #fff, 1034px 767px #fff, 1653px 1486px #fff, 26px 2271px #fff, 1971px 1714px #fff,
		2445px 1056px #fff, 2409px 723px #fff, 757px 1242px #fff, 2428px 953px #fff, 598px 2348px #fff,
		2452px 207px #fff, 2138px 2136px #fff, 2393px 205px #fff, 918px 441px #fff, 1320px 1832px #fff,
		1120px 1784px #fff, 2239px 1233px #fff, 1046px 1424px #fff, 392px 2135px #fff, 643px 1006px #fff,
		1942px 96px #fff, 1764px 2391px #fff, 1114px 2217px #fff, 1410px 2103px #fff, 2348px 2509px #fff,
		745px 1931px #fff, 2347px 1135px #fff, 1000px 544px #fff, 2461px 582px #fff, 1822px 790px #fff,
		1132px 1436px #fff, 1207px 2139px #fff, 1922px 2260px #fff, 1622px 1321px #fff, 1812px 207px #fff,
		582px 1344px #fff, 918px 579px #fff, 1806px 1300px #fff, 1918px 761px #fff, 2318px 1567px #fff,
		919px 2198px #fff, 2008px 2222px #fff;
	height: 3px;
	width: 3px;
}

.particle-3:after {
	box-shadow: 0px 0px #fff, 2148px 1068px #fff, 1559px 721px #fff, 1631px 1161px #fff, 545px 1479px #fff,
		852px 2109px #fff, 1601px 1365px #fff, 2079px 1792px #fff, 1395px 830px #fff, 352px 2119px #fff,
		912px 1685px #fff, 2119px 2181px #fff, 449px 996px #fff, 1648px 978px #fff, 764px 1901px #fff,
		2278px 1218px #fff, 22px 783px #fff, 2015px 327px #fff, 737px 2154px #fff, 995px 1640px #fff, 1449px 508px #fff,
		963px 2260px #fff, 2252px 112px #fff, 994px 864px #fff, 2009px 534px #fff, 2418px 2008px #fff, 1597px 111px #fff,
		1863px 1794px #fff, 1893px 509px #fff, 2038px 1312px #fff, 342px 526px #fff, 359px 190px #fff, 1795px 687px #fff,
		616px 639px #fff, 1921px 1850px #fff, 325px 1px #fff, 451px 1070px #fff, 965px 274px #fff, 986px 1848px #fff,
		1038px 682px #fff, 93px 2379px #fff, 196px 1661px #fff, 939px 455px #fff, 253px 1753px #fff, 1547px 2143px #fff,
		583px 442px #fff, 116px 266px #fff, 1614px 1981px #fff, 564px 100px #fff, 103px 1144px #fff, 898px 2059px #fff,
		1408px 63px #fff, 1865px 1273px #fff, 2336px 2367px #fff, 712px 206px #fff, 1931px 1740px #fff,
		2341px 322px #fff, 1978px 2496px #fff, 1970px 1408px #fff, 980px 1006px #fff, 596px 2023px #fff,
		771px 904px #fff, 537px 1678px #fff, 1135px 867px #fff, 1727px 148px #fff, 1700px 260px #fff, 2033px 1806px #fff,
		699px 1498px #fff, 132px 1550px #fff, 61px 2368px #fff, 388px 1994px #fff, 2233px 2001px #fff, 937px 1013px #fff,
		222px 1182px #fff, 1371px 494px #fff, 384px 24px #fff, 1118px 1905px #fff, 524px 874px #fff, 243px 1747px #fff,
		244px 1110px #fff, 976px 1677px #fff, 2105px 1493px #fff, 2120px 1691px #fff, 1346px 348px #fff,
		1162px 177px #fff, 1543px 1001px #fff, 1936px 310px #fff, 511px 305px #fff, 657px 721px #fff, 2191px 558px #fff,
		1897px 2529px #fff, 1815px 1570px #fff, 1371px 1171px #fff, 2273px 1558px #fff, 793px 387px #fff,
		763px 1880px #fff, 1370px 2534px #fff, 612px 1121px #fff, 21px 223px #fff, 388px 1106px #fff, 2015px 2208px #fff;
	height: 3px;
	width: 3px;
}

.particle-4 {
	-webkit-animation: animParticle 600s linear infinite;
	animation: animParticle 600s linear infinite;
	box-shadow: 0px 0px #fff, 1778px 2483px #fff, 2286px 363px #fff, 53px 251px #fff, 487px 2333px #fff,
		677px 430px #fff, 589px 36px #fff, 1770px 406px #fff, 816px 1863px #fff, 558px 2004px #fff, 301px 185px #fff,
		638px 487px #fff, 1362px 2486px #fff, 2366px 1148px #fff, 580px 270px #fff, 52px 2444px #fff, 394px 1661px #fff,
		2053px 716px #fff, 1060px 2421px #fff, 1431px 1980px #fff, 1020px 697px #fff, 832px 238px #fff,
		525px 1689px #fff, 528px 858px #fff, 311px 1940px #fff, 315px 819px #fff, 205px 752px #fff, 1008px 2224px #fff,
		681px 2476px #fff, 1997px 1208px #fff, 1273px 1110px #fff, 363px 1877px #fff, 1238px 1873px #fff,
		138px 1538px #fff, 443px 1227px #fff, 1403px 530px #fff, 2413px 980px #fff, 1278px 1342px #fff,
		1083px 558px #fff, 2227px 2131px #fff, 2354px 2281px #fff, 598px 764px #fff, 794px 2195px #fff,
		1642px 1916px #fff, 1357px 1509px #fff, 1240px 1368px #fff, 960px 1228px #fff, 2180px 1535px #fff,
		1950px 1607px #fff, 2005px 2083px #fff, 1549px 1578px #fff, 1033px 2181px #fff, 1702px 1700px #fff,
		1608px 363px #fff, 1658px 1394px #fff, 1027px 2074px #fff, 2376px 306px #fff, 1327px 514px #fff,
		1478px 1141px #fff, 1610px 680px #fff, 449px 433px #fff, 92px 678px #fff, 1298px 662px #fff, 1828px 2040px #fff,
		1314px 737px #fff, 2448px 1533px #fff, 2362px 2028px #fff, 603px 2336px #fff, 1051px 2544px #fff,
		412px 1598px #fff, 819px 2006px #fff, 1519px 1858px #fff, 453px 2370px #fff, 871px 2332px #fff,
		2271px 1772px #fff, 1252px 89px #fff, 1459px 2027px #fff, 273px 980px #fff, 2184px 1637px #fff,
		1538px 1871px #fff, 1086px 2422px #fff, 129px 1086px #fff, 1211px 2321px #fff, 607px 2201px #fff,
		1221px 175px #fff, 1162px 614px #fff, 505px 2119px #fff, 2102px 1805px #fff, 1893px 740px #fff,
		2548px 2443px #fff, 1464px 1133px #fff, 1765px 2150px #fff, 2234px 1880px #fff, 1511px 2459px #fff,
		2014px 1993px #fff, 676px 1163px #fff, 1803px 1739px #fff, 1206px 188px #fff, 2485px 1750px #fff,
		1674px 1731px #fff, 1367px 874px #fff, 1897px 2379px #fff, 1960px 1178px #fff, 1325px 972px #fff,
		414px 810px #fff, 1762px 775px #fff, 1542px 977px #fff, 1673px 217px #fff, 600px 2137px #fff, 939px 2346px #fff,
		1134px 847px #fff, 196px 592px #fff, 241px 1387px #fff, 416px 1017px #fff, 1117px 1642px #fff, 153px 1103px #fff,
		979px 1032px #fff, 1062px 1735px #fff, 2474px 226px #fff, 2511px 876px #fff, 965px 2383px #fff,
		1539px 308px #fff, 1203px 580px #fff, 1475px 1683px #fff, 2467px 300px #fff, 2018px 1763px #fff,
		1710px 1620px #fff, 159px 936px #fff, 372px 928px #fff, 211px 726px #fff, 401px 1583px #fff, 463px 1235px #fff,
		619px 1513px #fff, 2235px 820px #fff, 567px 534px #fff, 1642px 1461px #fff, 323px 500px #fff, 2065px 1548px #fff,
		2433px 1810px #fff, 2002px 1887px #fff, 194px 1247px #fff, 601px 1818px #fff, 71px 688px #fff,
		1642px 2027px #fff, 2065px 715px #fff, 1409px 2349px #fff, 1943px 1649px #fff, 1011px 2452px #fff,
		183px 1240px #fff, 2184px 293px #fff, 50px 348px #fff, 2156px 2336px #fff, 700px 1117px #fff, 1212px 440px #fff,
		496px 31px #fff, 1149px 1809px #fff, 2213px 1211px #fff, 155px 291px #fff, 1488px 658px #fff, 2211px 481px #fff,
		366px 260px #fff, 44px 1659px #fff, 176px 993px #fff, 23px 176px #fff, 1641px 512px #fff, 1192px 344px #fff,
		1000px 393px #fff, 283px 2440px #fff, 142px 947px #fff, 57px 1554px #fff, 1321px 229px #fff, 710px 2240px #fff,
		1169px 1239px #fff, 562px 2515px #fff, 1807px 1274px #fff, 1170px 1902px #fff, 1722px 1409px #fff,
		608px 2467px #fff, 2456px 2499px #fff, 77px 2464px #fff, 1977px 64px #fff, 2315px 659px #fff, 475px 1937px #fff,
		1161px 69px #fff, 1855px 2501px #fff, 807px 1220px #fff, 562px 1752px #fff, 1641px 1797px #fff,
		2357px 1691px #fff, 866px 590px #fff, 610px 1385px #fff, 1859px 2426px #fff, 1034px 1120px #fff,
		1447px 619px #fff, 1697px 1823px #fff, 297px 106px #fff, 1242px 1520px #fff, 895px 2558px #fff,
		870px 1391px #fff, 393px 774px #fff, 1025px 1158px #fff, 1141px 1586px #fff, 74px 370px #fff, 1121px 2094px #fff,
		1471px 1195px #fff, 763px 1685px #fff, 243px 750px #fff, 2469px 1858px #fff, 1264px 1125px #fff,
		2177px 1399px #fff, 599px 2251px #fff, 274px 1121px #fff, 1986px 804px #fff, 272px 1335px #fff,
		1373px 2088px #fff, 1736px 1184px #fff, 1059px 300px #fff, 2226px 2319px #fff, 325px 2242px #fff,
		470px 1886px #fff, 1696px 2268px #fff, 1915px 299px #fff, 1728px 1399px #fff, 745px 1620px #fff,
		1713px 821px #fff, 1119px 327px #fff, 86px 2296px #fff, 903px 555px #fff, 1894px 584px #fff, 1290px 2497px #fff,
		402px 297px #fff, 2264px 687px #fff, 1492px 1513px #fff, 787px 314px #fff, 838px 760px #fff, 50px 297px #fff,
		351px 1063px #fff, 398px 489px #fff, 2203px 2233px #fff, 2412px 843px #fff, 2366px 1243px #fff,
		2262px 172px #fff, 1516px 370px #fff, 192px 344px #fff, 2313px 1168px #fff, 1031px 1592px #fff, 683px 591px #fff,
		2245px 1217px #fff, 412px 1895px #fff, 1701px 1048px #fff, 1085px 1106px #fff, 1032px 441px #fff,
		2100px 2120px #fff, 1964px 2164px #fff, 1485px 2214px #fff, 857px 711px #fff, 244px 1905px #fff,
		316px 861px #fff, 593px 2525px #fff, 149px 2439px #fff, 813px 2232px #fff, 1497px 1243px #fff,
		1875px 2508px #fff, 1390px 1408px #fff, 1592px 1564px #fff, 2085px 930px #fff, 1081px 575px #fff,
		404px 1274px #fff, 2048px 639px #fff, 360px 1414px #fff, 488px 1909px #fff, 1612px 369px #fff, 914px 2473px #fff,
		1795px 696px #fff, 2075px 1884px #fff, 1557px 646px #fff, 1124px 1461px #fff, 122px 1907px #fff,
		2190px 993px #fff, 1452px 117px #fff, 1741px 2017px #fff, 487px 504px #fff, 1267px 1302px #fff,
		1259px 2370px #fff, 768px 2478px #fff, 718px 11px #fff, 1466px 582px #fff, 259px 2087px #fff, 1282px 1897px #fff,
		679px 1749px #fff, 1683px 1061px #fff, 1885px 1803px #fff, 1381px 183px #fff, 2067px 159px #fff,
		2080px 1483px #fff, 1735px 1731px #fff, 1306px 1144px #fff, 698px 1278px #fff, 2200px 1847px #fff,
		679px 375px #fff, 1996px 649px #fff, 1486px 510px #fff, 2519px 2097px #fff, 895px 1214px #fff, 764px 321px #fff,
		437px 970px #fff, 320px 1909px #fff, 1850px 389px #fff, 333px 2334px #fff, 1676px 306px #fff, 1301px 246px #fff,
		1835px 52px #fff, 1371px 1503px #fff, 568px 785px #fff, 1296px 611px #fff, 1494px 2409px #fff, 430px 2337px #fff,
		66px 1703px #fff, 979px 2101px #fff, 2054px 559px #fff, 1530px 2468px #fff, 1464px 674px #fff, 1839px 49px #fff,
		937px 2139px #fff, 184px 2501px #fff, 1646px 474px #fff, 228px 1198px #fff, 2538px 1303px #fff, 508px 86px #fff,
		1819px 1865px #fff, 1268px 964px #fff, 1619px 1451px #fff, 1046px 2181px #fff, 2062px 931px #fff,
		684px 1943px #fff, 473px 2348px #fff, 444px 981px #fff, 2353px 2081px #fff, 204px 2410px #fff, 2542px 146px #fff,
		708px 315px #fff, 267px 2039px #fff, 1633px 2210px #fff, 2461px 145px #fff, 1169px 2152px #fff,
		2324px 1214px #fff, 1947px 391px #fff, 734px 1463px #fff, 2392px 2517px #fff, 1749px 471px #fff,
		146px 2067px #fff, 2185px 646px #fff, 2014px 2293px #fff, 849px 1535px #fff, 1577px 2559px #fff,
		151px 2231px #fff, 1695px 1805px #fff, 2438px 1797px #fff, 1042px 1054px #fff, 1093px 1201px #fff,
		19px 2062px #fff, 1055px 1686px #fff, 2447px 2319px #fff, 1177px 1702px #fff, 654px 1565px #fff,
		2164px 2277px #fff, 806px 863px #fff, 2173px 981px #fff, 1329px 1831px #fff, 2129px 504px #fff,
		2089px 313px #fff, 2408px 107px #fff, 1881px 583px #fff, 378px 1753px #fff, 1570px 66px #fff, 1616px 1569px #fff,
		659px 2081px #fff, 311px 2328px #fff, 1497px 789px #fff, 2301px 238px #fff, 2505px 796px #fff,
		2528px 1433px #fff, 752px 507px #fff, 1185px 2326px #fff, 2329px 2374px #fff, 560px 122px #fff,
		1306px 557px #fff, 1154px 2214px #fff, 894px 1917px #fff, 2040px 1314px #fff, 1484px 2325px #fff,
		449px 341px #fff, 2074px 348px #fff, 774px 1181px #fff, 1733px 1234px #fff, 2304px 605px #fff, 447px 1276px #fff,
		1984px 377px #fff, 2147px 1149px #fff, 47px 965px #fff, 155px 1377px #fff;
	height: 1px;
	width: 1px;
}

.particle-4:after {
	box-shadow: 0px 0px #fff, 2101px 1862px #fff, 1383px 1722px #fff, 846px 2093px #fff, 673px 405px #fff,
		1949px 888px #fff, 306px 836px #fff, 2428px 701px #fff, 884px 2199px #fff, 1396px 839px #fff, 666px 762px #fff,
		1732px 1637px #fff, 2204px 2295px #fff, 1338px 1782px #fff, 1871px 1701px #fff, 413px 1945px #fff,
		1804px 2518px #fff, 2061px 649px #fff, 422px 2358px #fff, 1670px 512px #fff, 284px 535px #fff, 1158px 970px #fff,
		1083px 41px #fff, 143px 895px #fff, 1560px 817px #fff, 1848px 294px #fff, 189px 1626px #fff, 749px 2449px #fff,
		1888px 304px #fff, 2110px 537px #fff, 73px 168px #fff, 1918px 868px #fff, 966px 2449px #fff, 2551px 1871px #fff,
		1730px 543px #fff, 666px 724px #fff, 526px 1701px #fff, 2499px 1874px #fff, 183px 805px #fff, 568px 2475px #fff,
		225px 2324px #fff, 751px 2408px #fff, 451px 2485px #fff, 2419px 1973px #fff, 1443px 1854px #fff,
		1172px 52px #fff, 1068px 2368px #fff, 2162px 1978px #fff, 1400px 1720px #fff, 2044px 627px #fff,
		703px 2337px #fff, 14px 325px #fff, 2534px 343px #fff, 2549px 1775px #fff, 1935px 2089px #fff,
		1860px 1926px #fff, 1177px 941px #fff, 2291px 107px #fff, 2484px 249px #fff, 1347px 758px #fff,
		2552px 1537px #fff, 1756px 880px #fff, 2265px 553px #fff, 1524px 635px #fff, 829px 2246px #fff,
		2141px 1140px #fff, 1092px 1814px #fff, 349px 417px #fff, 1005px 2090px #fff, 929px 1640px #fff,
		1464px 1683px #fff, 5px 1703px #fff, 1068px 2154px #fff, 1086px 1896px #fff, 1894px 2056px #fff,
		997px 696px #fff, 2268px 520px #fff, 1986px 1939px #fff, 1338px 2224px #fff, 2280px 37px #fff, 591px 311px #fff,
		1668px 1103px #fff, 1609px 466px #fff, 1935px 1556px #fff, 2267px 941px #fff, 1824px 153px #fff,
		1360px 1069px #fff, 1163px 691px #fff, 1915px 746px #fff, 1753px 307px #fff, 1321px 919px #fff,
		333px 2490px #fff, 177px 1868px #fff, 2505px 310px #fff, 2046px 2432px #fff, 1672px 1503px #fff,
		1168px 1366px #fff, 246px 1977px #fff, 1750px 150px #fff, 1783px 1692px #fff, 540px 1173px #fff,
		731px 1964px #fff, 228px 1813px #fff, 845px 2483px #fff, 1029px 114px #fff, 2084px 1920px #fff,
		132px 1731px #fff, 1659px 142px #fff, 2333px 555px #fff, 1884px 1832px #fff, 493px 2040px #fff,
		1062px 927px #fff, 765px 2494px #fff, 509px 2141px #fff, 2279px 1021px #fff, 1171px 544px #fff,
		1260px 1008px #fff, 1129px 1320px #fff, 168px 2253px #fff, 726px 1220px #fff, 402px 655px #fff,
		2500px 1818px #fff, 251px 1820px #fff, 27px 2133px #fff, 708px 1714px #fff, 812px 1937px #fff, 549px 2182px #fff,
		633px 287px #fff, 2220px 1830px #fff, 2136px 207px #fff, 553px 1277px #fff, 1846px 1283px #fff,
		1629px 1867px #fff, 1803px 2250px #fff, 802px 2351px #fff, 2144px 31px #fff, 598px 1466px #fff,
		717px 2541px #fff, 2396px 1507px #fff, 1999px 1374px #fff, 1047px 2260px #fff, 2418px 1537px #fff, 1px 89px #fff,
		595px 62px #fff, 2002px 317px #fff, 2380px 337px #fff, 1938px 393px #fff, 1766px 2413px #fff, 370px 111px #fff,
		941px 1694px #fff, 1517px 992px #fff, 1137px 1227px #fff, 804px 1678px #fff, 2019px 889px #fff,
		1268px 2479px #fff, 84px 742px #fff, 826px 891px #fff, 707px 856px #fff, 1708px 80px #fff, 769px 333px #fff,
		1839px 2282px #fff, 898px 2334px #fff, 1679px 625px #fff, 1912px 737px #fff, 1049px 1632px #fff,
		1319px 542px #fff, 937px 1279px #fff, 791px 2281px #fff, 2140px 2079px #fff, 1798px 1441px #fff,
		998px 601px #fff, 95px 849px #fff, 1179px 1802px #fff, 1076px 475px #fff, 448px 2401px #fff, 1358px 275px #fff,
		796px 1487px #fff, 1826px 2131px #fff, 419px 2478px #fff, 2191px 377px #fff, 2466px 460px #fff,
		1490px 1627px #fff, 588px 441px #fff, 2263px 498px #fff, 2001px 920px #fff, 239px 1939px #fff, 616px 1568px #fff,
		1609px 2022px #fff, 1597px 1428px #fff, 219px 2441px #fff, 1817px 1023px #fff, 2060px 392px #fff,
		516px 1072px #fff, 2457px 170px #fff, 1911px 1488px #fff, 1942px 2004px #fff, 2097px 473px #fff,
		395px 1894px #fff, 1880px 860px #fff, 112px 1663px #fff, 1776px 1827px #fff, 804px 1203px #fff,
		2111px 1552px #fff, 890px 1648px #fff, 2151px 388px #fff, 1370px 1514px #fff, 309px 817px #fff,
		1821px 1690px #fff, 37px 1434px #fff, 1463px 283px #fff, 1678px 1007px #fff, 1090px 2056px #fff,
		1413px 822px #fff, 2129px 1685px #fff, 1454px 784px #fff, 1659px 1214px #fff, 998px 1193px #fff,
		1068px 625px #fff, 2405px 1315px #fff, 617px 1180px #fff, 1121px 2387px #fff, 1509px 788px #fff,
		837px 398px #fff, 2041px 1119px #fff, 1373px 986px #fff, 2254px 307px #fff, 2374px 740px #fff, 487px 2193px #fff,
		1432px 1432px #fff, 21px 2177px #fff, 1179px 1142px #fff, 1533px 1528px #fff, 2208px 477px #fff,
		1171px 2551px #fff, 1910px 921px #fff, 343px 2280px #fff, 1111px 173px #fff, 2522px 1210px #fff,
		1308px 910px #fff, 805px 1268px #fff, 906px 1964px #fff, 1177px 703px #fff, 1795px 287px #fff, 534px 2488px #fff,
		1052px 510px #fff, 1905px 1551px #fff, 572px 954px #fff, 1341px 2065px #fff, 2199px 1636px #fff,
		1060px 1374px #fff, 817px 2028px #fff, 1837px 567px #fff, 1786px 1606px #fff, 1741px 1727px #fff,
		737px 132px #fff, 654px 98px #fff, 1285px 355px #fff, 249px 2043px #fff, 2249px 1655px #fff, 2337px 249px #fff,
		1309px 520px #fff, 1360px 135px #fff, 1378px 831px #fff, 610px 2130px #fff, 414px 2515px #fff,
		2330px 1520px #fff, 46px 1422px #fff, 1611px 345px #fff, 1935px 2427px #fff, 2084px 321px #fff, 617px 720px #fff,
		2273px 2534px #fff, 1110px 1918px #fff, 1561px 419px #fff, 2102px 831px #fff, 1205px 406px #fff,
		268px 2534px #fff, 653px 404px #fff, 383px 2px #fff, 1442px 983px #fff, 1095px 432px #fff, 1965px 2226px #fff,
		1727px 537px #fff, 163px 897px #fff, 1832px 398px #fff, 639px 759px #fff, 2250px 661px #fff, 965px 857px #fff,
		1773px 1743px #fff, 2312px 1901px #fff, 567px 641px #fff, 1292px 1270px #fff, 2497px 792px #fff,
		2389px 2266px #fff, 2415px 1056px #fff, 2060px 608px #fff, 497px 1065px #fff, 1042px 1955px #fff,
		1273px 1022px #fff, 2133px 463px #fff, 1692px 500px #fff, 1425px 186px #fff, 24px 1500px #fff, 797px 2154px #fff,
		433px 378px #fff, 768px 2025px #fff, 2025px 1169px #fff, 405px 1318px #fff, 1351px 1358px #fff, 67px 1075px #fff,
		2275px 2172px #fff, 2295px 2356px #fff, 1650px 2086px #fff, 390px 735px #fff, 2347px 935px #fff,
		129px 1910px #fff, 1883px 2530px #fff, 605px 829px #fff, 2462px 1660px #fff, 814px 51px #fff, 1850px 1423px #fff,
		1181px 1643px #fff, 224px 967px #fff, 756px 1271px #fff, 1651px 1015px #fff, 1050px 1547px #fff,
		1563px 1614px #fff, 1453px 2127px #fff, 1380px 1951px #fff, 602px 1773px #fff, 1754px 2135px #fff,
		2311px 2281px #fff, 1616px 998px #fff, 635px 1501px #fff, 1153px 2206px #fff, 2px 2327px #fff, 110px 5px #fff,
		1794px 1635px #fff, 1254px 60px #fff, 1400px 209px #fff, 1595px 1924px #fff, 720px 2176px #fff, 465px 322px #fff,
		1395px 815px #fff, 127px 1902px #fff, 673px 1682px #fff, 1138px 1919px #fff, 927px 1061px #fff,
		1488px 1189px #fff, 1773px 823px #fff, 902px 1011px #fff, 2036px 2433px #fff, 1034px 1573px #fff,
		964px 593px #fff, 1448px 1655px #fff, 504px 275px #fff, 1672px 64px #fff, 2167px 583px #fff, 1218px 1061px #fff,
		2378px 1903px #fff, 317px 2464px #fff, 699px 1147px #fff, 104px 2357px #fff, 66px 336px #fff, 2254px 1759px #fff,
		361px 1373px #fff, 988px 640px #fff, 381px 552px #fff, 1968px 1700px #fff, 2233px 1260px #fff,
		2107px 1078px #fff, 1284px 1395px #fff, 589px 1628px #fff, 2039px 802px #fff, 1454px 1046px #fff,
		1003px 374px #fff, 1340px 2061px #fff, 2158px 1922px #fff, 1809px 2343px #fff, 2288px 475px #fff,
		281px 2422px #fff, 1907px 1884px #fff, 339px 743px #fff, 1959px 1138px #fff, 552px 967px #fff, 655px 967px #fff,
		528px 497px #fff, 120px 3px #fff, 1556px 409px #fff, 1622px 2204px #fff, 1028px 2049px #fff, 1823px 117px #fff,
		1208px 1943px #fff, 1550px 2514px #fff, 571px 756px #fff, 2199px 5px #fff, 2317px 140px #fff, 2357px 1363px #fff,
		383px 1325px #fff, 498px 922px #fff, 2254px 2147px #fff;
	height: 1px;
	width: 1px;
}

@-webkit-keyframes animParticle {
	from {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	to {
		-webkit-transform: translateY(-2560px);
		transform: translateY(-2560px);
	}
}

@keyframes animParticle {
	from {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	to {
		-webkit-transform: translateY(-2560px);
		transform: translateY(-2560px);
	}
}
