// $background-color: #426181;
$background-color: #ffe8eb;
$background-color2: #e7ff96;
$heading-color: #499eb8;
$text-color: #9debb4;
$font-family: "Oswald", sans-serif;
// $text-color: #e7ff96;
$hover-color: #25697d;

// .portfolio__section {
// 	height: 100vh;
// }

.portfolio_sections__container {
	height: 100vh;
	background-color: $background-color;
	display: flex;
	flex-direction: row;
	// justify-content: space-around;
}

.projects__list {
	margin-top: 150px;
	margin-left: 100px;
	display: flex;
	flex-direction: column;
}

.projects__heading {
	text-transform: uppercase;
	font-family: $font-family;
	font-weight: 700;
	font-size: 50px;
	color: $heading-color;
	margin-bottom: 35px;
}

.projects__list > p {
	text-transform: uppercase;
	font-family: $font-family;
	font-size: 20px;
	margin-bottom: 5px;
	color: $heading-color;
}

.projects__list > a {
	text-transform: uppercase;
	font-family: $font-family;
	font-size: 20px;
	margin-bottom: 5px;
	color: $heading-color;
}

.projects__list > a:hover {
	color: $hover-color;
	text-decoration: none;
}
