// Nav Bar Styles
.nav {
  top:0;
  z-index:2;
  position:fixed;
  height:45px;
  width:100vw;
  background-color:#ff9b80;
}

.navbar > ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style-type: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-top:11px;
  font-size:.9em
}

.navbar > ul >li {
  margin-right:30px;
// list-style-type: none;
// font-family: 'Oswald', sans-serif;
// font-weight: 400;
// text-transform: uppercase;
}

.navbar > ul > li > a  {
  text-decoration: none;
  color: #3e3f40;
}

.navbar > ul > li> a:hover {
  color: white;
  // font-weight: 400;
}

.navbar > ul > li> a:active {
  font-weight: 500;
}







