// Nav Bar Styles
$background: #284e77;
$font: white;
$hover-color:#ff756e;

@import '../../MediaQueries.scss';

.nav {
  top:0;
  z-index:2;
  position:fixed;
  height:50px;
  width:100%;
  background-color:$background;
}

.navbar > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-top:13px;
  margin-right:5px;
  font-size:.97em
}

.navbar > ul >li {
  margin-right:25px;
}

.navbar > ul > li > a  {
  text-decoration: none;
  color: $font;
}

.navbar > ul > li> a:hover {
  font-weight: 500;
  color:$hover-color;
}

.navbar > ul > li> a:active {
  font-weight: 500;
}

.navbar > ul > li> a:visited {
font-weight: 500;
}

// Media Queries 
.navbar > ul >li{
  @media (max-width: $breakpoint-iphonex) {
    font-size:.8em;
    margin-right: 12px;

  }
}

.navbar > ul{
  @media (max-width: $breakpoint-iphonex) {
    margin-top:16px;
    margin-left:-10px
  }
}






