// Nav Bar Styles
$background: #284e77;
$font-color: white;
$hover-color: #ff756e;

@import "../../MediaQueries.scss";

.navbar {
  top: 0;
  z-index: 2;
  position: fixed;
  overflow: hidden;
  height: 65px;
  width: 100vw;
  background-color: $background;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.45em;
}

.navbar > ul > li {
  margin-right: 40px;
}

.navbar > ul > li > a {
  text-decoration: none;
  color: $font-color;
}

.navbar > ul > li > a:hover {
  font-weight: 500;
  color: $hover-color;
}

.navbar > ul > li > a:active {
  font-weight: 500;
}

.navbar > ul > li > a:visited {
  font-weight: 500;
}

// Media Queries
.navbar > ul > li {
  @media (max-width: $breakpoint-iphonex) {
    font-size: 0.8em;
    margin-right: 12px;
  }
}

.navbar > ul {
  @media (max-width: $breakpoint-iphonex) {
    margin-top: 16px;
    margin-left: -10px;
  }
}
