
// Fog
.sf {
  // transform: scale(.5);
}

.sf_scene {
  height:100vh;
  width:100vw;
  background:url('../../../../assets/bridge3.svg');
  background-repeat: no-repeat;
  background-size: 110vw 100vh;
}

.fog {
  position: relative;
  height: 50vh;
  width: 100%;
 


  // &__container {
  //   position: absolute;
  //   top:0;
  //   height: 50%;
  //   width: 100%;
  //   overflow: hidden;
  // }

  &__img {
    position: absolute;
    height: 100vh;
    width: 300vw;

    &__first {
      background: url('../../../../assets/fog.png');
      opacity: .8;
     
      // background: url('https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-1.png') repeat-x;
      background-size: contain;
      background-position: center;
      animation: marquee 60s linear infinite;
    }

    &__second {
      // background: url('../../../../assets/fog.png')repeat-x;
      opacity:.8;
      // background: url('https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-2.png') repeat-x;
      background-size: contain;
      background-position: center;
      animation: marquee 40s linear infinite;
    }
  }
}

// Marquee
@keyframes marquee {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-200vw, 0, 0); }
}